.html {
  box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.section-one, footer {
  background-color: #1F2937;
  color: white;
}

.section-one {
  display: flex;
  flex-wrap: wrap;
}

.nav {
 display: flex;
 justify-content: space-between;
 flex-basis: 100%;
 align-items: center;
 padding: 0px 100px;
}

ul {
 display: flex;
 list-style: none;
 gap: 10px
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 100%;
  padding: 50px 100px;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-right: 50px;
}

.cat img {
 max-width: 500px;
 height: auto;
}

.hero-main {
  font-size: 48px;
  font-weight: bolder;
  color: #F9FAF8;
  padding-bottom: 8px;
}

.hero-sub {
  padding-bottom: 10px;
  font-size: 18px;
  color: #E5E7EB;
}

.section-two {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.random {
  text-align: center;
  padding: 40px;
  color: #1F2937;
  font-size: 36px;
  font-weight: bolder;
  flex-basis: 100%;
}

.illustration-cont {
  display: flex;
  text-align: center;
  gap: 60px;
  padding-bottom: 90px;
}

.illustration {
  width: 130px;
  color: grey;
}

.section-two img {
  width: 120px;
  height: 120px;
  border: 5px solid #3882F6;
  border-radius: 8%;
}

.section-three {
  display: flex;
  background-color: #E5E7EB;
  justify-content: center;
}

.inspire {
  margin: 80px 0px;
  width: 600px;
}

.quote {
  color: #1F2937;
  font-style: italic;
  font-size: 36px;
}

.author{
  text-align: right;
  color: #1F2937;
  font-size: 24px;
  font-weight: bolder;
}

.section-four {
  display: flex;
  justify-content: center;
  flex: 1;
}

.sign-up {
  background-color: #3882F6;
}

footer {
}

button {
  background-color: #3882F6;
  border-radius: 8%;
  padding: 4px 16px;
  color: white;
  border-style: solid;
  border-color: #3882F6;
}

/* * {
  border: 1px solid black;
} */